<ion-view view-title="所有热门标签">
    <ion-content class="sortCont">
        <div class="title sortTitle">
            豆瓣电影标签
        </div>
        <div class="sortContent">
            <h4>类型……</h4>
            <ul>
                <li><a href="#">爱情</a>(10143587)</li>
                <li><a href="#">科幻</a>(5459463)</li>
                <li><a href="#">文艺</a>(2228901)</li>
                <li><a href="#">动画</a>(6517067)</li>
                <li><a href="#">喜剧</a>(8428839)</li>
                <li><a href="#">剧情</a>(5938978)</li>
                <li><a href="#">动作</a>(5046425)</li>
                <li><a href="#">经典</a>(4718395)</li>
                <li><a href="#">悬疑</a>(4029160)</li>
                <li><a href="#">青春</a>(3785825)</li>
                <li><a href="#">犯罪</a>(3114131)</li>
                <li><a href="#">惊悚</a>(2582628)</li>
                <li><a href="#">搞笑</a>(2099210)</li>
                <li><a href="#">纪录片</a>(2084638)</li>
                <li><a href="#">励志</a>(1950891)</li>
                <li><a href="#">恐怖</a>(1643147)</li>
                <li><a href="#">战争</a>(1549814)</li>
                <li><a href="#">短片</a>(1427547)</li>
                <li><a href="#">魔幻</a>(1305539)</li>
                <li><a href="#">黑色幽默</a>(1247546)</li>
                <li><a href="#">传记</a>(1053842)</li>
                <li><a href="#">暴力</a>(877525)</li>
                <li><a href="#">动画短片</a>(867967)</li>
                <li><a href="#">音乐</a>(772294)</li>
                <li><a href="#">家庭</a>(754886)</li>
                <li><a href="#">浪漫</a>(608925)</li>
                <li><a href="#">同志</a>(564971)</li>
                <li><a href="#">史诗</a>(487706)</li>
                <li><a href="#">童话</a>(413263)</li>
                <li><a href="#">烂片</a>(358390)</li>
                <li><a href="#">cult</a>(187521)</li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="sortContent">
            <h4>国家/地区……</h4>
            <ul>
                <li><a href="#">中国</a>(2581900)</li>
                <li><a href="#">美国</a>(16812219)</li>
                <li><a href="#">英国</a>(2595773)</li>
                <li><a href="#">法国</a>(2275902)</li>
                <li><a href="#">德国</a>(593991)</li>
                <li><a href="#">日本</a>(5108417)</li>
                <li><a href="#">意大利</a>(563764)</li>
                <li><a href="#">欧洲</a>(222733)</li>
                <li><a href="#">西班牙</a>(362917)</li>
                <li><a href="#">印度</a>(386376)</li>
                <li><a href="#">泰国</a>(377748)</li>
                <li><a href="#">加拿大</a>(203414)</li>
                <li><a href="#">俄罗斯</a>(145728)</li>
                <li><a href="#">丹麦</a>(95726)</li>
                <li><a href="#">爱尔兰</a>(112593)</li>
                <li><a href="#">瑞典</a>(108950)</li>
                <li><a href="#">巴西</a>(105365)</li>
                <li><a href="#">阿根廷</a>(64269)</li>
                <li><a href="#">比利时</a>(58730)</li>
                <li><a href="#">匈牙利</a>(37351)</li>
                <li><a href="#">新加坡</a>(31454)</li>
                <li><a href="#">韩国</a>(2072273)</li>
                <li><a href="#">土耳其</a>(40945)</li>
                <li><a href="#">以色列</a>(32997)</li>
                <li><a href="#">奥地利</a>(43628)</li>
                <li><a href="#">伊朗</a>(125381)</li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="sortContent">
            <h4>艺术家……</h4>
            <ul>
                <li><a href="#">宫崎骏</a>(660381)</li>
                <li><a href="#">李安</a>(151408)</li>
                <li><a href="#">周星驰</a>(652953)</li>
                <li><a href="#">TimBurton</a>(146658)</li>
                <li><a href="#">王家卫</a>(355877)</li>
                <li><a href="#">梁朝伟</a>(311465)</li>
                <li><a href="#">岩井俊二</a>(309564)</li>
                <li><a href="#">张艺谋</a>(256599)</li>
                <li><a href="#">TomHanks</a>(110051)</li>
                <li><a href="#">大卫芬奇</a>(109009)</li>
                <li><a href="#">刘德华</a>(254200)</li>
                <li><a href="#">Spielberg</a>(245984)</li>
                <li><a href="#">冯小刚</a>(242471)</li>
                <li><a href="#">成龙</a>(239963)</li>
                <li><a href="#">JimCarrey</a>(106672)</li>
                <li><a href="#">杜琪峰</a>(212312)</li>
                <li><a href="#">张国荣</a>(212177)</li>
                <li><a href="#">姜文</a>(195417)</li>
                <li><a href="#">徐克</a>(187302)</li>
                <li><a href="#">周润发</a>(146658)</li>
                <li><a href="#">金城武</a>(126980)</li>
                <li><a href="#">吴彦祖</a>(118933)</li>
                <li><a href="#">希区柯克</a>(113352)</li>
                <li><a href="#">科恩兄弟</a>(103630)</li>
            </ul>
            <div class="clear"></div>
        </div>

        <div class="sortContent">
            <h4>年代……</h4>
            <ul>
                <li><a href="#">2013</a>(1113209)</li>
                <li><a href="#">2015</a>(1087147)</li>
                <li><a href="#">2011</a>(1069770)</li>
                <li><a href="#">2014</a>(1048218)</li>
                <li><a href="#">2012</a>(1041077)</li>
                <li><a href="#">2010</a>(942223)</li>
                <li><a href="#">2009</a>(767470)</li>
                <li><a href="#">2008</a>(521405)</li>
                <li><a href="#">2007</a>(423061)</li>
                <li><a href="#">2016</a>(387977)</li>
                <li><a href="#">2006</a>(347488)</li>
                <li><a href="#">2004</a>(268278)</li>
                <li><a href="#">2005</a>(260211)</li>
                <li><a href="#">2003</a>(231413)</li>
                <li><a href="#">2001</a>(201500)</li>
                <li><a href="#">2002</a>(183518)</li>
                <li><a href="#">1994</a>(159548)</li>
                <li><a href="#">2000</a>(151028)</li>
                <li><a href="#">1997</a>(146206)</li>
                <li><a href="#">1999</a>(143269)</li>
                <li><a href="#">1998</a>(131515)</li>
                <li><a href="#">1995</a>(113156)</li>
                <li><a href="#">1996</a>(100505)</li>
                <li><a href="#">1993</a>(92371)</li>
                <li><a href="#">1992</a>(82149)</li>
                <li><a href="#">1990</a>(70969)</li>
                <li><a href="#">1991</a>(62731)</li>
                <li><a href="#">1988</a>(52895)</li>
            </ul>
            <div class="clear"></div><br/>
        </div>
    </ion-content>
</ion-view>