
<ion-view hide-nav-bar="true" class="years">
    <!--<ion-nav-title>-->
        <!--<div class="yearTitle"><img class="yearPic" src="images/p293.jpg.png"><p class="yearPicPag"> 豆瓣电影 2015年度榜单 | 分享给朋友   4,512,595人访问</p></div>-->
    <!--</ion-nav-title>-->
    <ion-content class="year">
        <div class="uptop"><i class="icon ion-arrow-up-a"></i></div>
        <div class="row">
            <div class="col col-100">
                <div class="yearTitle"><img class="yearPic" src="images/p293.jpg.png"><p class="yearPicPag"> 豆瓣电影 2015年度榜单 | 分享给朋友   4,512,595人访问</p></div>
                <div class="yearFirst">
                    <img src="images/hack.gif">
                    <div class="yearCover">
                        <h2 class="yearH2"><span>豆瓣电影</span>2015年度榜单</h2>
                        <p class="yearPag">基于2015万千豆瓣用户的电影标记和访问数据，排名依据评分、评价人数和上映时间综合考虑（统计截至2015-12-25）</p>
                    </div>
                </div>
                <ul class="yearUl">
                    <!----标准标准------->
                    <li>
                        <div class="yearPage">
                            <img src="images/p275.jpg">
                            <div class="yearPageCover">
                                <div class="box">
                                    <p class="no-line-left">2015评分最高的</p>
                                    <p class="underline-left">外语电影</p>
                                    <h3 class="boxH3"><a href="#">荒蛮故事</a></h3>
                                    <h3 class="boxH3"><a href="#">Relatos salvajes</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.7　87462人评价</p></div>
                                </div>
                                <div class="yearPageDesc">植于生活，长于现实的荒蛮故事。6个小故事没有短板，全都如此引人入胜。情节看似荒诞不已，却也让人笑着深思。言语的肆无忌惮和迫在眉睫的暴力，权利权力家庭舆论的畸形发展，婚姻始终是一场浪漫的闹剧。 —— 有意识的贱民</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p41.jpg">
                            <div class="yearPageCover">
                                <div class="boxHeart">
                                    <p class="no-line-right">2015评分最高的</p>
                                    <p class="underline-right">华语电影</p>
                                    <h3 class="boxH2"><a href="#">心迷宫</a></h3>
                                    <h3 class="boxH2"><a href="#">Relatos salvajes</a></h3>
                                    <div class="boxImg"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.6　102356人评价</p></div>
                                </div>
                                <div class="yearPageDesc">封闭的村庄，悬疑前置的凶杀，阴差阳错的众生相，故事设定和结构都像极马尔克斯的《一桩事先张扬的谋杀案》，环环相扣互为因果，挖了一堆坑，全部严谨密实的填上，故事编的一个大写的牛逼。 —— 掉线</div>
                            </div>
                        </div>
                    </li>
                    <li>     <!----年度台词------->
                        <div class="yearPage">
                            <img src="images/p2263689025.jpg">
                            <div class="yearPageCover">
                                <div class="taiciPic"><a href="#"><img src="images/p2262306528.jpg"><p>刺客聂隐娘<br/>(2015)</p></a></div>
                                <div class="taici">年度台词</div>
                                <h2 class="taiciDesc">汝今剑术已成，唯不能斩绝人伦之情</h2>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p281.jpg">
                            <div class="yearPageCover">
                                <div class="boxDasheng">
                                    <p class="no-line-left">2015最受关注的</p>
                                    <p class="underline-left">院线电影</p>
                                    <h3 class="boxH3"><a href="#">西游记之大圣归来</a></h3>
                                    <div class="boxImg"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.3　329137人评价</p></div>
                                </div>
                                <div class="yearPageDesc">封闭的村庄，悬疑前置的凶杀，阴差阳错的众生相，故事设定和结构都像极马尔克斯的《一桩事先张扬的谋杀案》，环环相扣互为因果，挖了一堆坑，全部严谨密实的填上，故事编的一个大写的牛逼。 —— 掉线</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p278.jpg">
                            <div class="yearPageCover">
                                <div class="boxMad">
                                    <p class="no-line-left">2015最受关注的</p>
                                    <p class="underline-left">非院线电影</p>
                                    <h3 class="boxH3"><a href="#">疯狂的麦克斯4：狂暴之路</a></h3>
                                    <h3 class="boxH3"><a href="#">Mad Max: Fury Road</a></h3>
                                    <div class="boxImg"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.5　171331人评价</p></div>
                                </div>
                                <div class="yearPageDesc">除了燃，电影还说了一件事：背井离乡七千天，无一日不惦念。不论眼下多苦，相信只要回头就有希望，因为那里是丰饶的绿洲。但这终究只是个幻觉。离开家乡越久，幻觉越严重。你以为逃离能解决一切，但真正的胜者不是寻找绿洲的人，而是改变荒芜之地的人。 —— 浅显</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2285801524.jpg">
                            <div class="yearPageCover">
                                <div class="boxXiyouji">
                                    <p class="no-line-left">2015-2016贺岁档</p>
                                    <p class="underline-left">电影推荐</p>
                                    <h3 class="boxH3"><a href="#">西游记之孙悟空三打</a></h3>
                                    <h3 class="boxH3"><a href="#">白骨精</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star3.jpg"><p class="boxPage">5.7　77627人评价</p></div>
                                </div>
                                <div class="yearPageDesc">啊~特效~你比五毛多两毛，3D特效可圈可点，悟空和沙僧的特效妆扮也特邀好莱坞团队纯手工精心打造。美艳白骨精，骚版唐僧，港版帅悟空，村版猪八戒，萌版沙悟净，哪一个都是让罗贯中醉倒不起的新经典。 —— 阿又</div>
                            </div>
                        </div>
                    </li>
                    <li>            <!----年度台词------->
                        <div class="yearPage">
                            <img src="images/p2241795461.jpg">
                            <div class="yearPageCover">
                                <div class="taiciPic"><a href="#"><img src="images/p2236181653.jpg"><p style="color:black">疯狂的麦克斯4:<br/>狂暴之路(2015)</p></a></div>
                                <div class="taiciB">年度台词</div>
                                <h2 class="taiciDescB">血袋，见证我吧！我就是那个以最璀璨夺目之姿，直奔英灵殿的人</h2>
                                <p class="taiciDesc2">Witness me...Blood Bag! I live, I die, I live again!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2256665582.jpg">
                            <div class="yearPageCover">
                                <div class="boxBeiyeli">
                                    <p class="no-line-left">2015年度</p>
                                    <p class="underline-left">冷门佳片</p>
                                    <h3 class="boxH3"><a href="#">贝利叶一家</a></h3>
                                    <h3 class="boxH3"><a href="#">La famille Bélier</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.3　27176人评价</p></div>
                                </div>
                                <div class="yearPageDesc">老套路的追梦故事，换了个角度新意立马提升。法国人浪漫的氛围里说到的限制级话题都变成轻松的点缀，结尾的催泪药丸药效震撼。爱不是牺牲，追梦的路上会变成巨人，要以更强大的身躯来爱你。 —— 晓巫婆</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2271990195.jpg">
                            <div class="yearPageCover">
                                <div class="boxSidao">
                                    <p class="no-line-left">2015评分最高的</p>
                                    <p class="underline-left">韩国电影</p>
                                    <h3 class="boxH3"><a href="#">思悼</a></h3>
                                    <h3 class="boxH3"><a href="#">사도</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.3　28022人评价</p></div>
                                </div>
                                <div class="yearPageDesc">老套路的追梦故事，换了个角度新意立马提升。法国人浪漫的氛围里说到的限制级话题都变成轻松的点缀，结尾的催泪药丸药效震撼。爱不是牺牲，追梦的路上会变成巨人，要以更强大的身躯来爱你。 —— 晓巫婆</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2221319339.jpg">
                            <div class="yearPageCover">
                                <div class="boxXiaosenlin">
                                    <p class="no-line-left">2015评分最高的</p>
                                    <p class="underline-left">日本电影</p>
                                    <h3 class="boxH3"><a href="#">小森林 夏秋篇</a></h3>
                                    <h3 class="boxH3"><a href="#">リトル・フォレスト 夏・秋</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.9　82689人评价</p></div>
                                </div>
                                <div class="yearPageDesc">劳作令人无暇烦恼，片中的人物时而离凡世很远，时而又触手可及。我们有舌尖上的中国，通篇累述奉献、感恩、手艺传承和文化气节，却没人教导我们劳作本身的意义。一屋一田一人食，已是最令人羡慕的事。 —— 嘟嘟熊之父</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2232762878.jpg">
                            <div class="yearPageCover">
                                <div class="boxKing">
                                    <p class="no-line-right">2015评分最高的</p>
                                    <p class="underline-right">欧洲电影</p>
                                    <h3 class="boxH2"><a href="#">王牌特工：特工学院</a></h3>
                                    <h3 class="boxH2"><a href="#">Kingsman: The Secret Service</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.4　279208人评价</p></div>
                                </div>
                                <div class="yearPageDesc">　马修·沃恩再度化腐朽为神奇，把一个青少年向的低幼特工故事拍成了精彩的娱乐佳作，标准的好莱坞商业叙事节奏，接地气的英国本土元素，眼花缭乱的血暴动作戏，更不用说令人击节的教堂屠杀戏和烟花戏。男主完美诠释了“小鲜肉”三个字。 —— 陀螺凡达可</div>
                            </div>
                        </div>
                    </li>
                    <li>     <!----年度台词------->
                        <div class="yearPage">
                            <img src="images/p2366149665.jpg">
                            <div class="yearPageCover">
                                <div class="taiciPic"><a href="#"><img src="images/p2312679154.jpg"><p> 卡罗尔 Carol (2015)</p></a></div>
                                <div class="taiciC">年度台词</div>
                                <h2 class="taiciDescB">你像是从宇宙中飞来，我的天使</h2>
                                <p class="taiciDesc2">My angel, flung out of space.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2253102942.jpg">
                            <div class="yearPageCover">
                                <div class="boxTounao">
                                    <p class="no-line-right">2015评分最高的</p>
                                    <p class="underline-right">动画片</p>
                                    <h3 class="boxH2"><a href="#">头脑特工队</a></h3>
                                    <h3 class="boxH2"><a href="#">Inside Out</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.7　172783人评价</p></div>
                                </div>
                                <div class="yearPageDesc">皮克斯再一次证明了动画片是可以给所有年龄段看的。以为皮克斯被迪斯尼收购后，它的想象力和创造力就再也回不去了，看来这次我被狠狠打了一记耳光。脑洞无限大，有创意有逻辑，有欢笑有温情，所有都拿捏的恰到好处，被这样的动画片感动到流泪，一点都不丢脸。 —— 光影迷失</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2249560327.jpg">
                            <div class="yearPageCover">
                                <div class="boxSalt">
                                    <p class="no-line-left">2015评分最高的</p>
                                    <p class="underline-left">纪录片</p>
                                    <h3 class="boxH3"><a href="#">地球之盐</a></h3>
                                    <h3 class="boxH3"><a href="#">The Salt of the Earth</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">9.1　9143人评价</p></div>
                                </div>
                                <div class="yearPageDesc">灵魂清洗，萨尔加多阅尽世间种种人类贪性催生的罹难悲苦，在最后选择回归于动物和自然。他一生的故事，看到了完整。别让那些不幸的事件，只沉淀为事件。别让悲伤的土地，放任干涸荒芜。在凝固瞬间的照片面前，我们也不该只是保持那一刻的哑口无言。 —— birds</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2267687981.jpg">
                            <div class="yearPageCover">
                                <div class="boxWater">
                                    <p class="no-line-left">2015评分最高的</p>
                                    <p class="underline-left">短片</p>
                                    <h3 class="boxH3"><a href="#">水滴</a></h3>
                                    <h3 class="boxH3"><a href="#">Waterdrop</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.7　12785人评价</p></div>
                                </div>
                                <div class="yearPageDesc">它美的让人窒息，它光滑的可映照微观，它温柔的像个女孩，它安静的像个坟墓……2212年，人类舰队国际俘获三体行星探测器，命名为，水滴。 —— 了无歌</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2244216602.jpg">
                            <div class="yearPageCover">
                                <div class="boxKaluoer">
                                    <!--<p class="no-line-left">2015年度LGBT电影</p>-->
                                    <p class="underline-left">2015年度LGBT电影</p>
                                    <h3 class="boxH3"><a href="#">卡罗尔</a></h3>
                                    <h3 class="boxH3"><a href="#">Carol</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.2　92982人评价</p></div>
                                </div>
                                <div class="yearPageDesc">不用再加“同性”的限定语，这就是今年最美的爱情电影。托德·海因斯的镜头从头到尾都是两位女性，只是两位女性，其他一切仿佛都不重要。这是最小的格局，也是最汹涌的情欲，光对视就能让人落泪，因为你知道这世界上有两人为了对方，此身愿作万矢的。 —— 同志亦凡人中文站</div>
                            </div>
                        </div>
                    </li>
                    <li>     <!----年度台词------->
                        <div class="yearPage">
                            <img src="images/p2218744059.jpg">
                            <div class="yearPageCover">
                                <div class="taiciPic"><a href="#"><img src="images/p2274029145.jpg"><p>小王子 (2015)</p></a></div>
                                <div class="taiciD">年度台词</div>
                                <h2 class="taiciDescD">所有的大人都曾经是小孩，虽然只有少数的人记得</h2>
                                <p class="taiciDesc2">All grown-ups were once children... but only few of them remember it.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2234805618.jpg">
                            <div class="yearPageCover">
                                <div class="boxSaul">
                                    <p class="no-line-left">2015评分最高的</p>
                                    <p class="underline-left">英美剧（新剧）</p>
                                    <h3 class="boxH3"><a href="#">风骚律师 第一季</a></h3>
                                    <h3 class="boxH3"><a href="#">Better Call Saul</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star5.jpg"><p class="boxPage">9.2　18250人评价</p></div>
                                </div>
                                <div class="yearPageDesc">本身已是神剧。更奇妙的是，与绝命毒师一起，不管你先看哪部，看到最后那宿命的带刺铁轮，一定会碾过你的心。 —— 少陵野老大哭着</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2250319904.jpg">
                            <div class="yearPageCover">
                                <div class="boxQuanli">
                                    <p class="no-line-left">2015评分最高的</p>
                                    <p class="underline-left">英美剧（非新剧）</p>
                                    <h3 class="boxH3"><a href="#">权力的游戏 第五季</a></h3>
                                    <h3 class="boxH3"><a href="#">Game of Thrones</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">9.1　61343人评价</p></div>
                                </div>
                                <div class="yearPageDesc">从第一季到第五季，我喜欢的角色一个接一个被灭，编剧们也是够狠的。虽然被虐，但不得不说，偏离观众常规期待的剧情，可能更接近世界的残酷事实。说不上非常喜欢这套剧，但肯定会一直追到底。 —— Clyde</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p257.jpg">
                            <div class="yearPageCover">
                                <div class="boxMadMan">
                                    <p class="no-line-left">2015告别我们的</p>
                                    <p class="underline-left">英美剧（最终季）</p>
                                    <h3 class="boxH3"><a href="#">广告狂人 第七季</a></h3>
                                    <h3 class="boxH3"><a href="#">Mad Men</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star5.jpg"><p class="boxPage">9.4　6212人评价</p></div>
                                </div>
                                <div class="yearPageDesc">华美而壮丽的戏剧终于落下帷幕，但残酷的人生还得继续。命运很纠结，我们试图抗争，有人倒下就躺着了，有人倒下又站起。我宁愿相信Don最后的微笑证明了迷失的终结，最后一幕可口可乐世界大同的广告就是这段嬉皮生活的感悟。每个人都得到了自己想要的，这很好。 —— 时坚</div>
                            </div>
                        </div>
                    </li>
                    <li>     <!----年度台词------->
                        <div class="yearPage">
                            <img src="images/p2250185591.jpg">
                            <div class="yearPageCover">
                                <div class="taiciPic"><a href="#"><img src="images/p2247777008.jpg"><p style="color:black;">超感猎杀 第一季<br/> (2015)</p></a></div>
                                <div class="taiciE">年度台词</div>
                                <h2 class="taiciDescE">真正的暴行，是我们太害怕成为真实的自己的时候对自己施加的，这才是不可原谅的</h2>
                                <p class="taiciDesc2">The real violence, the violence I realized was unforgivable, is the violence that we do to ourselves, when we're too afraid to be who we really are.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2175071172.jpg">
                            <div class="yearPageCover">
                                <div class="boxLangyabang">
                                    <p class="no-line-right">2015评分最高的</p>
                                    <p class="underline-right">大陆剧</p>
                                    <h3 class="boxH2"><a href="#">琅琊榜</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">9.2　148238人评价</p></div>
                                </div>
                                <div class="yearPageDesc">不谈夺嫡宫斗，和有些过于设计的剧情，苏先生，景睿，靖王，哪怕是身边护卫那些劝解人的话语都落进了心里。好本子好剧组。 —— 小白退散</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p455.jpg">
                            <div class="yearPageCover">
                                <div class="boxQuanli">
                                    <p class="no-line-left">2015评分最高的</p>
                                    <p class="underline-left">韩剧</p>
                                    <h3 class="boxH3"><a href="#">请回答1988</a></h3>
                                    <h3 class="boxH3"><a href="#">응답하라 1988</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star5.jpg"><p class="boxPage">9.4　58185人评价</p></div>
                                </div>
                                <div class="yearPageDesc">琐碎的，平淡的，温暖的，但是有感动的亲情友情爱情，就足够让我们在其中看到自己，打动到我们各自心中柔软的地方。 —— 一点点路</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p443.jpg">
                            <div class="yearPageCover">
                                <div class="boxYuehui" style="width:320px;">
                                    <p class="no-line-left">2015评分最高的</p>
                                    <p class="underline-left">日剧</p>
                                    <h3 class="boxH3"><a href="#">约会～恋爱究竟是什么呢～</a></h3>
                                    <h3 class="boxH3"><a href="#">デート 〜恋とはどんなものかしら〜</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.6　28773人评价</p></div>
                                </div>
                                <div class="yearPageDesc">世界上有各种各样的人，也有各种各样的活法，所以才万分美妙。你可以不认同不理解，但请你尊重与你不同的人。 —— AnneValentine</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p449.jpg">
                            <div class="yearPageCover">
                                <div class="boxYuehui">
                                    <p class="no-line-left">2015最受关注的</p>
                                    <p class="underline-left">大陆综艺</p>
                                    <h3 class="boxH3"><a href="#">极限挑战 第一季</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.3 21672人评价</p></div>
                                </div>
                                <div class="yearPageDesc">年度真人秀，好演员加一堆电影桥段，把综艺节目提升到小剧场水准。所谓与人斗其乐无穷，做好真人秀本质的鲜明个人特色和化学反应，游戏就只是形式。 —— Lan~die</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p225.jpg">
                            <div class="yearPageCover">
                                <div class="boxKaluoer">
                                    <p class="no-line-left">2015评分最高的</p>
                                    <p class="underline-left">动画剧集</p>
                                    <h3 class="boxH3"><a href="#">瑞克和莫蒂 第二季</a></h3>
                                    <h3 class="boxH3"><a href="#">Rick and Morty</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star5.jpg"><p class="boxPage">9.7　8446人评价</p></div>
                                </div>
                                <div class="yearPageDesc">脑洞的正无穷次方，平行世界中的每一个生物造型都是业界良心而且槽点满满。地道的美式幽默一轮接一轮攻势凶猛喘不过气，但动起情来还真招架不住。 —— Woojoan</div>
                            </div>
                        </div>
                    </li>
                    <li>     <!----年度台词------->
                        <div class="yearPage">
                            <img src="images/p2271593572.jpg">
                            <div class="yearPageCover">
                                <div class="taiciPic"><a href="#"><img src="images/p2271982968.jpg"><p>琅琊榜<br/>(2015)</p></a></div>
                                <div class="taici">年度台词</div>
                                <h2 class="taiciDesc">下雪了，最适合杀人了</h2>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p467.jpg">
                            <div class="yearPageCover">
                                <div class="boxLee">
                                    <p class="no-line-left">2015最受关注的</p>
                                    <p class="underline-left">男演员</p>
                                    <h3 class="boxH3"><a href="#">李·佩斯</a></h3>
                                    <h3 class="boxH3"><a href="#">Lee Pace</a></h3>
                                    <div class="boxImgLeft"><p class="boxPage" style="float:right;">12542人喜欢</p></div>
                                </div>
                                <!--<div class="list">-->
                                    <!--<ul>-->
                                        <!--<li><a href="#">李·佩斯</a></li><li><a href="#">莱昂纳多·迪卡普里奥 </a></li><li><a href="#">李·佩斯</a></li><li><a href="#">李·佩斯</a></li>-->
                                        <!--<li><a href="#">李·佩斯</a></li><li><a href="#">李·佩斯</a></li><li><a href="#">李·佩斯</a></li><li><a href="#">李·佩斯</a></li>-->
                                        <!--<li><a href="#">李·佩斯</a></li><li><a href="#">李·佩斯</a></li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p457.jpg">
                            <div class="yearPageCover">
                                <div class="boxLee">
                                    <p class="no-line-left">2015最受关注的</p>
                                    <p class="underline-left">女演员</p>
                                    <h3 class="boxH3"><a href="#">亚历珊德拉·达达里奥</a></h3>
                                    <h3 class="boxH3"><a href="#">Alexandra Daddario</a></h3>
                                    <div class="boxImgLeft"><p class="boxPage" style="float:right;">4522人喜欢</p></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p464.jpg">
                            <div class="yearPageCover">
                                <div class="boxHouxiaoxian">
                                    <p class="no-line-left">2015最受关注的</p>
                                    <p class="underline-left">导演</p>
                                    <h3 class="boxH3"><a href="#">侯孝贤</a></h3>
                                    <h3 class="boxH3"><a href="#">Hsiao-hsien Hou</a></h3>
                                    <div class="boxImgLeft"><p class="boxPage" style="float:right;">12275人喜欢</p></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p256.jpg">
                            <div class="yearPageCover">
                                <div class="boxBack">
                                    <p class="name-left">最受关注的<br/>　　　电影</p>
                                    <p class="yue-left">1月</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH3" style="margin-top:5px;"><a href="#">重返20岁</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.jpg"><p class="boxPage">7.2　154935人评价</p></div>
                                </div>
                                <div class="yearPageDesc">是的，那些青春啊梦想啊足以惊艳时光；但生活啊回忆啊，是可以温柔岁月的。 —— 唐书钰</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2225263008.jpg">
                            <div class="yearPageCover">
                                <div class="boxFox">
                                    <p class="name-left">最受关注的<br/>　　　电影</p>
                                    <p class="yue-left">2月</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH3" style="margin-top:5px;"><a href="#">狼图腾</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star3.5.jpg"><p class="boxPage">7　133804人评价</p></div>
                                </div>
                                <div class="yearPageDesc">狼演的比人好。有质感的场景，蔚为壮观，有关狼的智慧、尊严和自然规律，狼之于人的图腾内核挖得还是浅了。狼马追逐起了高潮，后面升华显得略为单薄。放在国内这样的电影比较难得，尽管它有缺憾。 —— 渡口无边</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p21.jpg">
                            <div class="yearPageCover">
                                <div class="boxKing2">
                                    <p class="name-left">最受关注的<br/>　　　电影</p>
                                    <p class="yue-left">3月</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH3" style="margin-top:5px;"><a href="#">王牌特工：特工学院</a></h3>
                                    <h3 class="boxH3"><a href="#">Kingsman: The Secret Service</a></h3>
                                    <div class="boxImgLeft" style="float:right"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.4　279234人评价</p></div>
                                </div>
                                <div class="yearPageDesc">脑洞开得好大！逼格真是爆表啊！主流的前007小强风格电影里塞进昆汀的感觉还能不时穿插各种B级片的情节场景，编剧这是忍不住要调戏观众的节奏。结尾爆头场面太华丽了 #穿西服打架的要义在于打完之后头发可以乱领带可以断但西服绝对不能乱# —— davekoz</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p424.jpg">
                            <div class="yearPageCover">
                                <div class="boxSpeed">
                                    <p class="name-left">最受关注的<br/>　　　电影</p>
                                    <p class="yue-left">4月</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH3" style="margin-top:5px;"><a href="#">速度与激情7</a></h3>
                                    <h3 class="boxH3"><a href="#">Furious 7</a></h3>
                                    <div class="boxImgLeft" style="float:right"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.3　224864人评价</p></div>
                                </div>
                                <div class="yearPageDesc">你的车总是蓝色的，你的T恤总是白色的，六部剪影太短，一首歌太短，而对你的想念太长。虽已有一年半，但仍觉得说不出再见。always miss you，for Paul —— Jenee</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p420.jpg">
                            <div class="yearPageCover">
                                <div class="boxSpeed">
                                    <p class="name-left">最受关注的<br/>　　　电影</p>
                                    <p class="yue-left">5月</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH3" style="margin-top:5px;"><a href="#">复仇者联盟2：奥创纪元</a></h3>
                                    <h3 class="boxH3"><a href="#">Avengers: Age of Ultron</a></h3>
                                    <div class="boxImgLeft" style="float:right"><img class="boxStarPic" src="images/star3.5.jpg"><p class="boxPage">7.1　180602人评价</p></div>
                                </div>
                                <div class="yearPageDesc">属于超级英雄的春晚，角色如走马灯一样出场。眼花缭乱的同时却没办法给人留下太深印象。这部内容实在太多了，这么多角色，各有黑暗历史，又为之后铺垫，弄得每个角色都很单薄。好在动作场面多，开场长镜头打斗还不错。 —— 桃桃淘电影</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p386.jpg">
                            <div class="yearPageCover">
                                <div class="boxZhuluoji">
                                    <p class="yue-left" style="float:right;margin-right:5px;">6月</p>
                                    <p class="name-left" style="float:right;margin-right:5px;">最受关注的<br/>　　　电影</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH2" style="margin-top:5px;"><a href="#">侏罗纪世界</a></h3>
                                    <h3 class="boxH2"><a href="#">Jurassic World</a></h3>
                                    <div class="boxImg" style="float:right"><img class="boxStarPic" src="images/star4.jpg"><p class="boxPage">7.7　181721人评价</p></div>
                                </div>
                                <div class="yearPageDesc">星爵被迅猛龙围攻的时候，老觉得他要开始跳舞了！ —— 翻滚吧！蛋堡</div>
                            </div>
                        </div>
                    </li>
                    <li>     <!----年度台词------->
                        <div class="yearPage">
                            <img src="images/p2243042772.jpg">
                            <div class="yearPageCover">
                                <div class="taiciPic"><a href="#"><img src="images/p2274320140.jpg"><p>山河故人(2015)</p></a></div>
                                <div class="taici">年度台词</div>
                                <h2 class="taiciDesc">每个人都只能陪你走一段路</h2>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2254709850.jpg">
                            <div class="yearPageCover">
                                <div class="boxDasheng2">
                                    <p class="yue-left" style="float:right;margin-right:5px;">7月</p>
                                    <p class="name-left" style="float:right;margin-right:5px;">最受关注的<br/>　　　电影</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH2" style="margin-top:5px;"><a href="#">西游记之大圣归来</a></h3>
                                    <div class="boxImg" style="float:right"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.3　329178人评价</p></div>
                                </div>
                                <div class="yearPageDesc">比预想的还要好看！画面够美打斗也够流畅，剧情不复杂，笑泪皆具，大圣三百六十度无死角的帅，再疼也不能给小屁孩知道，百折不挠重情重义的性格塑造太棒，出场音乐一响起我立马就跟着燃起来了！ —— 明安</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2257856220.jpg">
                            <div class="yearPageCover">
                                <div class="boxFangunba">
                                    <p class="yue-left" style="float:right;margin-right:5px;">8月</p>
                                    <p class="name-left" style="float:right;margin-right:5px;">最受关注的<br/>　　　电影</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH2" style="margin-top:5px;"><a href="#">滚蛋吧！肿瘤君</a></h3>
                                    <div class="boxImg" style="float:right"><img class="boxStarPic" src="images/star4.jpg"><p class="boxPage">7.5　175245人评价</p></div>
                                </div>
                                <div class="yearPageDesc">欢乐和悲伤、现实和超现实穿插得当，一直用轻松、欢快的腔调去讲悲伤的故事，我也许习惯了生离，但却抵抗不了死别，这一秒还笑成傻逼，下一秒就已经哭成狗。这部电影让我铭记两点：不论到了什么境地，都要有乐观的态度；爱与被爱，比什么都重要。 —— 孤烟</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2257630379.jpg">
                            <div class="yearPageCover">
                                <div class="boxDasheng2">
                                    <p class="yue-left" style="float:right;margin-right:5px;">9月</p>
                                    <p class="name-left" style="float:right;margin-right:5px;">最受关注的<br/>　　　电影</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH2" style="margin-top:5px;"><a href="#">碟中谍5：神秘国度</a></h3>
                                    <h3 class="boxH2"><a href="#">Mission: Impossible - Rogue Nation</a></h3>
                                    <div class="boxImg"><img class="boxStarPic" src="images/star4.jpg"><p class="boxPage">7.7　156756人评价</p></div>
                                </div>
                                <div class="yearPageDesc">各种追击桥段的节奏感相当不错，紧凑抓人。此外都是典型的大片快餐，各段衔接比较粗糙生硬，视觉刺激效果明显。本片最大的优点是女主！样貌气质都像英格丽·褒曼，身手佳，真让人目不转睛。 —— 艾小柯</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2298373992.jpg">
                            <div class="yearPageCover">
                                <div class="boxXialuote">
                                    <p class="name-left">最受关注的<br/>　　　电影</p>
                                    <p class="yue-left">10月</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH3" style="margin-top:5px;"><a href="#">夏洛特烦恼</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.jpg"><p class="boxPage">7.5　291742人评价</p></div>
                                </div>
                                <div class="yearPageDesc">同样的追忆青春爱情表述主题，同样的喜剧，同样夸老婆，同样的老歌联播……沈腾直接把徐峥的囧片甩到了四光年之外的三体世界。本片以庄周梦蝶的方式进行人生幸福指数的哲学探讨，用最低逼格阐述最深情感，一部用爆笑的手法揭露小清新是如何荒谬的伪青春片。 —— 梅林狼影</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p379.jpg">
                            <div class="yearPageCover">
                                <div class="boxMine">
                                    <p class="name-left">最受关注的<br/>　　　电影</p>
                                    <p class="yue-left">11月</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH3" style="margin-top:5px;"><a href="#">我的少女时代</a></h3>
                                    <div class="boxImgLeft"><img class="boxStarPic" src="images/star4.jpg"><p class="boxPage">7.8　229995人评价</p></div>
                                </div>
                                <div class="yearPageDesc">青春里面最怕有遗憾，可是遗憾是最不可能避免的。不过有一个人，寄托了全部的傻气和憧憬，还有跌跌撞撞的冒失和试探。青春里有过你，总不负少女时代。 —— 路人Eita</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="yearPage">
                            <img src="images/p2272207559.jpg">
                            <div class="yearPageCover">
                                <div class="boxZhuluoji">
                                    <p class="yue-left" style="float:right;margin-right:5px;">12月</p>
                                    <p class="name-left" style="float:right;margin-right:5px;">最受关注的<br/>　　　电影</p>
                                    <div class="clear"></div>
                                    <h3 class="boxH2" style="margin-top:5px;"><a href="#">火星救援</a></h3>
                                    <h3 class="boxH2"><a href="#">The Martian</a></h3>
                                    <div class="boxImg" style="float:right"><img class="boxStarPic" src="images/star4.5.jpg"><p class="boxPage">8.4　244793人评价</p></div>
                                </div>
                                <div class="yearPageDesc">　他是宇航员里最会种土豆的农民，农民里最会拆解飞船的修理工，修理工里数理化最好的学霸，学霸里最懂得求生技能的驴友，驴友中跑得最远的宇航员。他就是马特·呆萌，第三次弄丢自己，这次拥有了一个星球成了小王子。老雷这几年最好看的电影！ —— 梦见乌鸦~火堂</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>