<ion-view class="mine" hide-nav-bar="true">
    <ion-content>
        <div class="title">
            <div class="icons">
                <a href="javascript:;"><i class="icon ion-ios-gear-outline"></i></a><a href="javascript:;"><i class="icon ion-ios-bell-outline"></i></a>
            </div>
            <div class="clear"></div>
            <div class="member clearfix">
                <a href="javascript:;"  class="fl"><img src="images/2531170_205.jpg"></a>
                <p class="fl">艾米的夕阳</p>
                <i class="icon ion-ios-arrow-right fr"></i>
            </div>
            <div class="mineNav">
                <p><a href="javascript:;">0<br/>豆瓣券</a></p>
                <p><a href="javascript:;">0<br/>评价</a></p>
                <p><a href="javascript:;">0<br/>收藏</a></p>
            </div>
            <div class="gray"></div>
        </div>
        <div class="content">
            <div class="top">
                <img class="fl" src="images/ec3.jpg"><p class="fl">我的订单</p><span class="fr">查看全部订单<i class="icon ion-ios-arrow-right"></i></span>
            </div>
        </div>
    </ion-content>
</ion-view>