<ion-tabs class="tabs-light tabs-icon-top tabs-striped tabsPage">        <!--tabs-striped----安卓手机专用功能--->
    <ion-tab title="home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.home">
        <!--<ion-view view-title="diyiye">-->
            <!--<ion-content><a href="index.html"></a></ion-content>-->
        <!--</ion-view>-->
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="setting" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="tabs.setting">
        <!--<ion-view><ion-content><a href="index.html"></a></ion-content></ion-view>&ndash;&gt;-->
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>
    <ion-tab title="share" icon-on="ion-ios-redo" icon-off="ion-ios-redo-outline" ui-sref="tabs.share">
        <!--<ion-view><ion-content><a href="index.html"></a></ion-content></ion-view>-->
        <ion-nav-view name="tab-share"></ion-nav-view>
    </ion-tab>
    <ion-tab title="mine" icon-on="ion-ios-personadd" icon-off="ion-ios-personadd-outline" ui-sref="tabs.mine">
        <!--<ion-view><ion-content><a href="index.html"></a></ion-content></ion-view>-->
        <ion-nav-view name="tab-mine"></ion-nav-view>
    </ion-tab>
    <!--<div class="toTop" style="margin-left:10px;" ng-click="toTop()">top</div>-->

    <!--<ion-tab title="contact" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="tabs.contact">-->
        <!--&lt;!&ndash;<ion-view><ion-content><a href="index.html"></a></ion-content></ion-view>&ndash;&gt;-->
        <!--<ion-nav-view name="tab-contact"></ion-nav-view>-->
    <!--</ion-tab>-->
</ion-tabs>

